<a href="https://colab.research.google.com/github/AhmadRamadanu/AhmadRamadanu/blob/main/TUGAS_1_MATKUL_ASD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#variabel

nama = "Ahmad Ramadanu"
umur = 18
tinggi = 1.60
menikah = False

print(type(nama))
print(type(umur))
print(type(tinggi))
print(type(menikah))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
#operator aritmatika

#+,-,*,/,%,**,//,

angka1 = 9
angka2 = 3
print(angka1 + angka2)
print(angka1 - angka2)
print(angka1 * angka2)
print(angka1 / angka2)
print(angka1 % angka2)
print(angka1 ** angka2)
print(angka1 // angka2)

nama = "danu"
gaji_pokok = 1000000
lama_lembur = 24
gaji_lemburPerjam = 5000
gaji_lembur = gaji_lemburPerjam * lama_lembur
gaji_kotor = gaji_pokok + gaji_lembur
pajak = 9/100
potongan = gaji_pokok * pajak
gaji_bersih = gaji_pokok - potongan

print("nama :",nama)
print("gaji pokok = Rp", gaji_pokok)
print("gaji_lembur/jam= Rp", gaji_lemburPerjam)
print("gaji lembur = Rp", gaji_lembur)
print("gaji koto = Rp", gaji_kotor)
print("pajak = ", pajak)
print("potongan = Rp", potongan)
print("gaji bersih = Rp", gaji_bersih)

12
6
27
3.0
0
729
3
nama : danu
gaji pokok = Rp 1000000
gaji_lembur/jam= Rp 5000
gaji lembur = Rp 120000
gaji koto = Rp 1120000
pajak =  0.09
potongan = Rp 90000.0
gaji bersih = Rp 910000.0

In [ ]:
#operator penugasan

nilai = 10
nilai2 = 5
nilai += 2 #(nilai += 10) sama dengan (nilai = nilai +10)
nilai =+ 2 #nilai2 =+ 10 sama dengan nilai2 = 10

print(nilai)
print(nilai2)
nilai -= 1
print(nilai)
nilai = 2
print(nilai)
nilai /= 3
print(nilai)
nilai %= 2
print(nilai)
nilai **= 2
print(nilai)
nilai //= 2
print(nilai)

2
5
1
2
0.6666666666666666
0.6666666666666666
0.4444444444444444
0.0

In [ ]:
#percabangan if

nilai = 100
if (nilai >= 10) :
    print(nilai)

100

In [ ]:
#percabangan if else

nilai = 50
if (nilai >= 40) :
    print("lulus") 
else :
    print("tidak lulus")

lulus

In [ ]:
#percabangan elif

umur = 20
if (umur >18 and umur <30) :
    print("sudah beranjak dewasa")
elif(umur >30 and umur <45) :
     print("masa masa emas")
elif(umur >45 and umur <55) :
     print("masa paruh baya")
elif(umur >= 55) :
     print("masa manula")
else:
     print("masa dibawah umur")

sudah beranjak dewasa